a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
}
.col-xs-1,
.col-xs-2,
.col-xs-12,
.col-xs-6,
.col-sm-6,
.col-md-3 {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(128, 128, 128, 0.2);
    margin-top: 55px;
    min-width: 120px;
}

.pop_article {
    color: rgba(34, 34, 34, 1);
    outline: 3px solid rgba(34, 34, 34, 1);
    background-color: rgba(34, 34, 34, 0.77);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pop_article a {
    color: white;
    background-color: orange;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 50%;
}

.pop_article a:hover {
    background-color: rgba(255, 128, 0, 0.4);
    cursor: pointer;
}

.pop_article img {
    width: 100%;
    padding: 5px;
}

#special_offer {
    background-color: rgba(256, 128, 0, 0.1);
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 25px orange;
}

#social_media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contact_info {
    text-align: center;
    padding: 10px;
}

#social_media a {
    text-decoration: none;
    color: white;
}

.fa {
    padding: 5px;
    font-size: 150%;
    background-color: orange;
    border-radius: 5px;
}

#social_media .fa {
    background-color: #00D0FF;
}

#social_media div {
    font-size: 75%;
    width: auto;
}

#tm,
#social_media div {
    text-align: center;
}

#tm {
    padding: 10px;
    padding-bottom: 20px;
    font-size: 75%;
}

#footer div {
    background-color: rgba(34, 34, 34, 1);
    color: white;
}

.fa-trademark {
    font-size: 75%;
    vertical-align: super;
}

.round_img {
    border-radius: 50%;
}

.security {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    box-shadow: 0 0 25px #00D0FF;
    background-color: rgba(0, 208, 255, 0.1);
}

.security div {
    padding: 15px;
}

#navbar a,
.navbar-header button {
    color: white;
}

.navbar-header button {
    background-color: orange;
}

.navbar-header .navbar-brand {
    font-weight: bold;
    color: white;
}

#navbar .glyphicon {
    color: orange;
}

#contact_button {
    width: 200px;
    padding: 5px;
    background-color: orange;
    border-radius: 10px;
    text-decoration: none;
}

.carousel-caption h1,
.carousel-caption a {
    font-size: 125%;
}

#one,
#two,
#three,
#four {
    height: 50px;
    width: 50px;
}

#search_list {
    width: 75%;
    margin-right: 0;
    padding-right: 0;
    max-height: 80vh;
    overflow-y: auto;
}

input[type="text"],
input[type="email"], 
input[type="password"] {
    border: 3px solid orange;
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;
}

input[type="text"]:focus,
input[type="email"]:focus, 
input[type="password"]:focus {
    border: 3px solid rgb(67, 231, 240);
}

button {
    color: white;
    background-color: rgb(67, 231, 240);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0B647E;
}

#contact_form {
    display: none;
}

#log_in {
    border-top: 2px solid rgba(74, 74, 74, 1);
    width: 150px;
}

#myList {
    float: none !important;
}


main {
    margin-top: 120px;
}

#log_in_cont {
    color: white;   
    text-align: center; 
    padding: 20px;
    margin-bottom: 10px;
    background-color: rgba(34,34,34,1);
    border: 2px solid orange;
    border-radius: 10px;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    main {
        margin-top: 0px;
    }
}


/* 
// Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #log_in {
        border-left: 2px solid rgba(74, 74, 74, 1);
        border-top: none;
    }
    #myList {
        float: right !important;
    }
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}


/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { 
    padding-left:  30px;
    color: black; }
.right-addon input { padding-right: 30px; }

#profile_cont {
    background-color: rgba(174,174,174,1);
    margin-top: 10px;
    padding: 10px;
}


#search_form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.input-group {
    width: 100%;
}

input:required {
   box-shadow:none;
}
input:invalid {
   box-shadow:0 0 5px red,0 0 5px red,0 0 5px red,0 0 5px red,0 0 5px red,0 0 5px red,0 0 5px red,0 0 5px red;
}


#content_div button {
    height: 35px;
}

#content_table td, th {
    text-align: center;
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

#content_div {
    overflow-x: scroll;
}

#check_div {
    color: black;
}

#check_div ul {
    list-style-type: none;
}

#check_div a {
    color: black;
    text-decoration: none;
}

#state_div {
    background-color: rgba(44,44,44,1);
    color: white;
}

#state_div a, #state_div button {
    background-color: rgba(64,64,64,0.7);
    color: orange;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

#state_div a:hover, #state_div button:hover {
    background-color: rgba(94,94,94,0.7);
}